1.NUMBERS
#Numbers used when we are doing some Maths operation.

In [3]:
#integer
print(7)

7

In [4]:
type(7)

int

In [5]:
#float
print(10.7)

10.7

In [6]:
type(10.7)

float

2.BOOLEANS
#Logical values indicating True or False

In [7]:
#Boolean example
a = True
b = False
print(a)

True

In [8]:
type(a)

bool

3.STRINIG
#Series of characters enclosed with single or double quotes

In [14]:
#Single quotes
#Example1
str1 = 'I\'m learning Python'
str2 = 'I am learning "Python"' 
print(str1)
print(str2)

I'm learning Python
I am learning "Python"

In [15]:
type(str1)

str

In [17]:
#Double Quotes
#Example2
str3 = "I'm Learning Python"
str4 = "I am Learning \"Python\""
print(str3)
print(str4)

I'm Learning Python
I am Learning "Python"

4.LENGTH

In [21]:
#LENGTH
#Its Count the length of the string
#len()
#It's also count the space in the string
#Example1
a="Python"
len(a)

6

In [2]:
#Exmple2
b="Welcome to Python"
len(b)

17

In [3]:
type(b)

str

5.STRING INDEXING

In [4]:
#Example
a="Python"
a[4]

'o'

In [6]:
a[-4]

't'

6.SLICING