
Tuples

In Python Tuples are written with round brackets.

Important properties of Tuples

   * Can store different data types
   * Duplicate values are allowed
   * Order is retained
   * Indexing and slicing is possible
   * Immutable.

In [55]:
#Can store different data types
tup1 = (1,2,2.5,"Maths","Python",True, False)
tup1

(1, 2, 2.5, 'Maths', 'Python', True, False)

In [56]:
#Duplicate values are allowed
tup2 = (1,1,3,2,5,1,4,2,1,2)
tup2

(1, 1, 3, 2, 5, 1, 4, 2, 1, 2)

In [57]:
#Order is retained
tup3 = (1,6,2,7,3,5,9)
tup3

(1, 6, 2, 7, 3, 5, 9)

In [58]:
#Check type
type(tup1)

tuple

In [60]:
#Check Length
len(tup3)

7

In [61]:
#Create tuple with 1element
tup4 = ("Hello")

In [63]:
type(tup4)

str

In [64]:
#If we have to create tuple with 1 element then have to use of (Comma(,)) after the value
tup5 = ("Maths",)

In [65]:
type(tup5)

tuple

In [66]:
#Indexing and Slicing are allowed
#INDEXING
tup1

(1, 2, 2.5, 'Maths', 'Python', True, False)

In [68]:
tup1[1]

2

In [69]:
tup1[5]

True

In [17]:
#SLICING
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [70]:
#To get first 4 elements
tup1[:4]

(1, 2, 2.5, 'Maths')

In [71]:
#To get last 3 elements
tup1[-3:]

('Python', True, False)

In [72]:
#To get alternate elements
tup1[::2]

(1, 2.5, 'Python', False)

IMMUTABLE
 * Once the tuple is created, you cannot add,remove or modify the elements

In [75]:
#try to add value--->Error
tup1 = (1,2,3,4)
tup1[4]=5
tup1

TypeError: 'tuple' object does not support item assignment

In [77]:
#If you want to change some value then we have to convert tup to other datatype and again convert to Tuple
#Example
tup1 = (1,2,3,4,5)
tup1

(1, 2, 3, 4, 5)

In [78]:
#Convert to List
list1 = list(tup1)
list1

[1, 2, 3, 4, 5]

In [79]:
#list are mutable so we can able to change the value.
list1[1] = 200
list1

[1, 200, 3, 4, 5]

In [80]:
#again convert to Tuple
tup1 = tuple(list1)
tup1

(1, 200, 3, 4, 5)

TO CHECK THE PARTICULAR VALUE IS PRESENT

In [81]:
#use "in" operator
#SYNTAX---> item in object
tup1

(1, 200, 3, 4, 5)

In [82]:
print(200 in tup1)

True

In [83]:
print(100 in tup1)

False

JOINING TUPLES

In [84]:
tup1 = (1,2,3,'a')
tup2 = (4,5,6,'b')
tup3 = tup1+tup2
tup3

(1, 2, 3, 'a', 4, 5, 6, 'b')

SOME INBUILT METHODS

In [30]:
tup = (1,4,2,6,1,7,1,4,2,5,2,7,2,7,1)

In [85]:
# 1).count(item)-->It will count how many time items are specified occurs in TUPLES
tup.count(1)

4

In [86]:
tup.count(4)

2

In [88]:
# 2).index(item)--->It's return the index value of item
tup.index(4)

1