SETS

In [1]:
#In Python sets are written with curly brackets.

Important properties of sets

In [2]:
#1.Can store different data types
#2.Duplicate values are not allowed
#3.Order is not retained
#4.Indexing and slicing is not possible

In [25]:
#1.Can store different data types
#Example1
set1 = {1,2,3,1.1,2.4,"Maths","Python",False}
set1

{1, 1.1, 2, 2.4, 3, False, 'Maths', 'Python'}

In [26]:
#Test type
type(set1)

set

In [27]:
#2.Duplicate values are not allowed
set2={1,3,1,4,2,1,1,2}
set2

{1, 2, 3, 4}

In [29]:
#3.Order is not retained
set3 ={6,3,2,1,5,4}
set3

{1, 2, 3, 4, 5, 6}

In [31]:
#Check length of set
len(set2)

4

In [33]:
#4.Indexing and slicing is not possible
#Example
set4={1,2,3,4,5,6}
set4[3:]

TypeError: 'set' object is not subscriptable

MUTABILITY
* Once set is created you can add and remove the elements from the set, but you cannot modify the existing elements in a set

In built methods
* To Add items

In [35]:
#1.add(item)
#Add single item to the set
#Eample
set1 = {1,2,3,4,5,6}
set1.add(7)
set1

{1, 2, 3, 4, 5, 6, 7}

In [36]:
#2.update(list)
#this method is used to add more than one items. All the items should be passed in the form of lists
set1.update([0,8,9,10])
set1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [37]:
#3.Copy()
#to copy a set
set2=set1.copy()
set2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

* To Remove Items

In [38]:
#4.Remove(item)
#removes the specified item from the set. If specified item is not present it will raise error
set2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
set2.remove(0)
set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [41]:
#5.discard(items)
#removes the specified item from the set.But if the item is not present then it will not raise error
set2.discard(10)
set2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [42]:
set2.discard(10)
set2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
#6.pop()
#sets are unordered, so when using the pop() method, you will not gets know which item that gets removed.
set2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
set2.pop()

1

In [46]:
set3= {2,5,1,6,4}
set3.pop()

1

In [49]:
#7.Clear()
#Empties the set
set2.clear()
set2

set()

In [50]:
#8.Union
#Returns a new sets with all te elements from set1 and set2
set1= {1,2,3,4,5,6}
set2={5,6,7,8,9}
set3=set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [51]:
#9.Intersection()
#Returns all the common elements from the both sets.
set1= {1,2,3,4,5,6}
set2={5,6,7,8,9}
set3=set1.intersection(set2)
set3

{5, 6}